@import "custom-vars"

$white: #E5E5E5
$gold: #FFB608
$purple: #9466FF
$blue: #2F9AFF

*
  font-family: Roboto, sans-serif
#app
  min-height: 100vh


.ml-auto
  margin-left: auto
.h-100vh
  min-height: 100vh

.gold
  color: $gold!important

.fp
  min-height: calc(100vh - 120px)

.login
  max-width: 400px
  padding: 20px
  &__logo
    img
      max-width: 350px
    text-align: center
  &__submit
    background: linear-gradient(180deg, #7700FF 0%, #2F9AFF 100%)

.gappy
  gap: 30px

.small_title
  position: relative
  font-style: normal
  font-weight: normal
  font-size: 30px
  text-align: center
  color: white
  left: -15px
  margin-bottom: 20px

.navbar
  font-size: 18px
  border-bottom: 1px solid white
  &-brand
    padding-top: 0!important
    img
      max-width: 180px
      height: 100%
  &-dark &-nav .nav-link
    color: white
  &-expand-lg &-nav
    gap: 50px

  &-dark &-nav .show > .nav-link, &-dark &-nav .nav-link.active
    position: relative
    &:after
      content: ""
      width: 100%
      position: absolute
      border: 2px solid $purple
      bottom: -9px
      left: 0
  &-dark.secondary &-nav .show > .nav-link, &-dark.secondary &-nav .nav-link.active:after
    border-color: $blue

.rotate
  animation: rotate 1.5s linear infinite
@keyframes rotate
  to
    transform: rotate(360deg)


.avatar
  position: relative
  min-height: calc(100vh - 120px)
  flex-grow: 1

  &__container
    max-width: 1300px
    width: 100%
    height: 100%
  &__bg
    height: calc(100vh - 120px - 200px)
    width: calc(100vh - 120px - 200px)
    position: relative
    &__m
      min-height: 250px
      max-width: 400px
      max-height: 400px
    img
      width: 100%
      height: auto

    //background-size: auto 100%
    //min-width: 50%
    //background-repeat-x: no-repeat
    min-height: 400px
  .back_button
    position: absolute
    top: 15%
    left: 10%
    a
      text-decoration: none!important
      &::after
        border: none
  &__title
    color: $blue
    font-size: 24px
    position: absolute
    bottom: 20%
    left: 50%
    transform: translate(-50%, -50%)
    font-weight: 600

.wheel_menu
  position: absolute
  border-bottom: 1px solid white
  transition: border-bottom-color 0.2s ease
  font-size: 24px
  text-align: center

  &::before
    content: ""
    width: 100px
    height: 1px
    border-top: 1px solid white
    transition: border-bottom-color 0.2s ease
    position: absolute
    bottom: -1px
  &:hover
    border-bottom-color: $blue
    &:before
      border-color: $blue
    a
      color: $blue
  a
    color: white
    text-decoration: none
    transition: color 0.2s ease
    &:visited
      color: white
    &:hover
      color: $blue
  &__1, &__2, &__3
    &::before
      right: -100px
    left: 13%
  &__4, &__5, &__6
    &::before
      left: -100px
    right: 13%
  &__1, &__4
    &:before
      bottom: -32px
    top: 10%
  &__2, &__5
    &:before
      bottom: -10px
    top: 45%
  &__3, &__6
    &:before
      bottom: 32px
    top: 90%

  &__1, &__3
    &:before
      right: -88px
  &__4, &__6
    &:before
      left: -88px

  &__1, &__6
    &:before
      transform: rotate(40deg)
  &__3, &__4
    &::before
      transform: rotate(-40deg)
  &__2::before
      transform: rotate(10deg)
  &__5::before
      transform: rotate(-10deg)


@keyframes float
  from
    top: 55%
  to
    top: 45%

#avatar
  width: 200px
  height: 200px
  //background-image: url("~@/assets/images/avatars/boy/sprite2.png")
  //background-size: cover
  //background-repeat: no-repeat
  //background-position: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  animation: float 3s ease-in-out 2s infinite alternate
  z-index: 2400
  &:hover+.rotate
    animation: rotate 0.5s linear infinite


.dropdown:hover .dropdown-menu
    display: block
    margin-top: 0

.router-link-active
  position: relative
  &:after
    content: ""
    width: 100%
    position: absolute
    border: 2px solid $purple
    bottom: -9px
    left: 0

.secondary .router-link-active.router-link-exact-active
  &:after
    border: 2px solid $blue

.media
  &, .filters
    margin: 0 auto
    width: 100%
    padding: 20px
  .filters .btn-group
    margin-right: 20px
  &__container
    align-content: flex-start
    gap: 20px
    padding: 20px
  &__card
    text-align: center
    color: $blue
    &__title
      margin-top: 15px
      margin-bottom: 20px
    &__image
      img
        width: 100%
        height: auto

.ugly_border
  &._second
    background: url("~@/assets/images/gradient2.svg") center no-repeat
  background: url("~@/assets/images/grradient.svg") center no-repeat
  background-size: cover
  padding: 10px
  border-radius: 5px
  align-self: center
  &__bg
    width: 100%
    height: 100%
    background: rgba(255, 255, 255, 0.73)
    border-radius: 5px
    >*
      padding: 10px
      font-size: 20px


.pricing_icon
  position: relative
  background: url("~@/assets/images/ok_mark.svg") center no-repeat
  height: 1rem
  width: 1rem
  display: inline-block
  background-size: cover
  &.lock
    background-image: url("~@/assets/images/lock.svg")

.tariff
  text-align: center
  width: 28%
  h2
    color: rgba(255, 255, 255, 0.7)
  .ugly_border__bg
    font-size: 22px
    min-height: 360px

.comments
  height: 400px
  width: 400px
  margin-left: 30px
  margin-right: 50px
  position: relative
  .ugly_border__bg
    padding: 45px
  .stats_type_icon
    &.text
      top: 0
      label
        background-image: url("~@/assets/images/text-icon.svg")
    label
      width: 50px
      height: 50px
      background-image: url("~@/assets/images/stats-icon.svg")
      background-size: cover
      background-repeat: no-repeat
      background-position: center

    input[type="radio"]
      opacity: 0
      &:checked+label.stats
        background-image: url("~@/assets/images/stats-icon-active.svg")
      &:checked+label.text
        background-image: url("~@/assets/images/text-icon-active.svg")
    position: absolute
    right: -70px
    top: 60px
  &__report
    width: 100%
    img
      width: 100%
      height: auto


.media_block
  max-width: 20%